.auth-container {
    position: fixed; /* Permanece fijo en la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px); /* Desenfoque del contenido detrás */
    background-color: rgba(0, 0, 0, 0.2); /* Oscurece un poco */
    z-index: 1000; /* Asegura que esté por encima de la Home */
  }
  

  .auth-form {
    background: rgba(255, 255, 255, 0.85); /* Fondo blanco semi-transparente */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
  }
  
  .auth-form h2 {
    margin-bottom: 1rem;
    color: #333;
  }
  
  .auth-form input {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .auth-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 0.8rem 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out;
  }
  
  .auth-button:hover {
    background-color: #218838;
  }
  
  .auth-toggle {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .auth-toggle:hover {
    color: #0056b3;
  }
  