/* Botón flotante de WhatsApp */
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    background-color: #25d366;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.8rem 1.5rem;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s;
    z-index: 1000;
  }
  
  .whatsapp-button img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
  
  .whatsapp-button:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    color:rgb(255, 255, 255)
  }
  